/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

/* body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
} */

body {
  background-color: #f5f5f5;
  color: #4f4f4f;
}

h1,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

a,
li,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

button {
  background-color: #a8b2b5;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7a8a8e;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

#home {
  padding-bottom: 100px;
}

#aboutme {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 100vh;
}

/************ Navbar Css ************/
/* background */
.navbar {
  background-color: #c6b0bc;
  transition: background-color 0.3s ease-in-out;
}

nav.navbar.scrolled {
  background-color: #dfe3e8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* link */
.navbar-link {
  color: #333333;
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
  color: #6b8096;
}

.navbar-link.active {
  color: #6b8096;
}

span.navbar-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* icon */
.social-icon {
  display: flex;
  flex-direction: row;
}

.social-icon a {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: 1px solid #333333;
}

.social-icon a img {
  width: 24px;
  height: 24px;
  filter: grayscale(0) invert(20%) sepia(100%) saturate(500%) hue-rotate(200deg)
    brightness(90%) contrast(85%);
  transition: filter 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: none;
}

/* button */
.vvd {
  background-color: transparent;
  border: 2px solid #6b8096;
  padding: 8px 20px;
  border-radius: 20px;
  color: #6b8096;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.vvd:hover {
  background-color: #6b8096;
  color: white;
  border-color: #6b8096;
}

/************ Banner Css ************/
.banner {
  height: 100vh;
  margin-top: 0;
  padding: 160px 0 100px 0;
  background-image: url("./assets/img/bannerbg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 50 !important;
}

.banner .align-items-center {
  justify-content: center;
  text-align: center;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #787878;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.banner button {
  color: #787878;
  font-weight: 700;
  font-size: 20px;
  margin-top: 80px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: transparent;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.banner button:hover {
  color: #000000;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.image-hover {
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-hover:hover {
  transform: rotate(5deg) translate(-5px, -5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.zoey-gradient {
  font-size: 72px;
  font-weight: 900;
  background: linear-gradient(90deg, #b66595, #6d3799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  letter-spacing: 0.8px;
  line-height: 1.2;
  padding-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(67, 66, 66, 0.2);
}

/************ Aboutme Css ************/

.aboutme-container {
  height: 100vh;
  margin-top: 0;
  padding: 160px 0 100px 0;
  background-image: url("./assets/img/aboutmebg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

.about-me-text {
  text-align: justify;
  max-width: 800px;
  line-height: 1.6;
  color: #333;
  font-size: 1.3rem;
  margin: 0 auto;
}

.about-me-title {
  font-size: 3rem;
  font-weight: bold;
  color: #856088;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(67, 66, 66, 0.2);
}

.name,
.strong-content {
  font-weight: bolder;
  color: #856088;
  font-size: 1.4rem;
}

.skills-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills-title {
  font-size: 2rem;
  color: #6c1b7e;
  font-weight: bold;
  margin-bottom: 20px;
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skills-icons img {
  width: 40px;
  height: 80px;
  object-fit: contain;
  transition: transform 0.2s ease-in-out;
}

.skills-icons img:hover {
  transform: scale(1.1);
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

.hidden {
  opacity: 0;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: #f5f5f5;
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

.project-item {
  display: flex;
  align-items: flex-start;
}

.project-image img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: auto;
}

.project-info {
  text-align: left;
  margin-bottom: 2rem;
}

.project-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.project-desc {
  font-size: 1rem;
  line-height: 1.5;
  color: #6f6f6f;
  margin-bottom: 1rem;
  margin-right: 5rem;
}

.project-tech {
  font-size: 0.9rem;
  color: #7a8a8e;
  margin-bottom: 1rem;
  margin-right: 5rem;
}

.project-link {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

.project-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.project-info a {
  font-size: 1rem;
  color: #a8b2b5;
  margin: 0;
  text-decoration: none;
}

.project-info a:hover {
  color: #7a8a8e;
  text-decoration: underline;
}

/*tech*/
.tech-tag {
  display: inline-block;
  color: #fff;
  border-radius: 12px;
  padding: 5px 10px;
  margin-right: 8px;
  margin-bottom: 5px;
  font-size: 14px;
}

.tech-tag.language {
  background-color: #a9bcc3;
}

.tech-tag.data-engineering {
  background-color: #bcc6b3;
}

.tech-tag.software-dev {
  background-color: #d4bfbf;
}

.tech-tag.other {
  background-color: #b5a191;
}

/************ Contact Css ************/
.contact {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 60px 0 200px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/************ Footer Css ************/
.footer {
  padding: 40px 0;
  background-color: #c6b0bc;
  color: white;
  text-align: center;
}

.footer-social-icon a {
  margin: 0 10px;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-social-icon img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.footer-social-icon img:hover {
  transform: scale(1.2);
}
